[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"

[packages]

django = "==1.11.4"
coverage = "*"
prospector = "*"
"django-widget-tweaks" = "*"






[requires]
python_version = "3.6"

[dev-packages]